In [13]:
%load_ext autoreload
%autoreload 2

2024-12-29 00:52:23 - root - INFO - Creating initial trades
2024-12-29 00:52:23 - root - INFO - Adding trade with UID: 1
2024-12-29 00:52:23 - root - INFO - Adding trade with UID: 2
2024-12-29 00:52:23 - root - INFO - Adding trade with UID: 3
2024-12-29 00:52:23 - root - INFO - Adding trade with UID: 4
2024-12-29 00:52:23 - root - INFO - Adding more trades to the journal
2024-12-29 00:52:23 - root - INFO - Adding trade with UID: 5
2024-12-29 00:52:23 - root - INFO - Adding trade with UID: 6
2024-12-29 00:52:23 - root - INFO - Adding trade with UID: 7
2024-12-29 00:52:23 - root - INFO - Adding trade with UID: 8
2024-12-29 00:52:23 - root - INFO - Adding trade with UID: 9
2024-12-29 00:52:23 - root - INFO - Adding trade with UID: 10
2024-12-29 00:52:23 - root - INFO - Adding trade with UID: 11
2024-12-29 00:52:23 - root - INFO - Adding trade with UID: 12
2024-12-29 00:52:23 - root - INFO - Adding trade with UID: 13
2024-12-29 00:52:23 - root - INFO - Adding trade with UID: 14
2024-12-29 00:52:23 - root - INFO - Adding default tags to all trades
2024-12-29 00:52:23 - root - INFO - Converting journal trades to DataFrame

frozenset({'type_2_d', 'm5', 'M', 'd', 'type_2_m1', 'type_1_m15', 'type_2_m5', 'm1', 'type_2_m30', 'type_2_w', 'w', 'h1', 'type_1_m1', 'type_1_d', 'type_2_m15', 'type_1_M', 'type_1_m30', 'type_2_M', 'm15', 'type_1_w', 'type_2_h1', 'type_1_m5', 'type_1_h4', 'h4', 'm30', 'type_2_h4', 'type_1_h1'})
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [14]:
from src.tradecli import *
from src.journal import *

In [15]:
# Generate the feature dataframe
full_df

,trade_uid,type_2_d,entry_price,session,confidence,potential_price,potential_return,entry_time,risk_reward_ratio,outcome,...,close_price,initial_return,tp_price,type_2_h1,type_1_m5,sl_price,type_1_h4,htf_poi_ltf_confirmation,SL_distance,management_strategy
0,1,None,1.1000,tokyo,NaN,NaN,NaN,2024-12-29 00:52:23.198211,2.000000,None,...,NaN,0.0100,1.1100,None,None,1.0950,None,None,0.0050,no_management
1,2,None,1.2000,tokyo,NaN,NaN,NaN,2024-12-29 00:52:23.198508,0.666667,loss,...,1.1855,0.0100,1.2100,True,None,1.1850,None,True,0.0150,no_management
2,3,None,1.3000,london,NaN,NaN,NaN,2024-12-27 10:00:01.000000,10.000000,None,...,NaN,0.0300,1.3300,None,None,1.2970,None,False,0.5000,no_management
3,4,None,1.3000,london,4.0,1.3150,0.0150,2024-12-25 10:00:00.000000,10.000000,win,...,1.3050,0.0300,1.3300,None,None,1.2970,None,False,0.5000,strategy_2
4,5,None,1.1378,tokyo,5.0,1.1677,0.0299,2024-12-29 00:52:23.202723,5.000000,win,...,1.1495,0.0285,1.1663,True,None,1.1321,None,False,0.0057,no_management
5,6,True,1.1331,tokyo,2.0,1.1454,0.0123,2024-12-29 00:52:23.202916,5.913580,win,...,1.1511,0.0479,1.1810,None,None,1.1250,None,False,0.0081,no_management
6,7,True,1.1161,tokyo,5.0,1.1652,0.0491,2024-12-29 00:52:23.203180,7.482759,None,...,NaN,0.0434,1.1595,None,True,1.1103,None,False,0.0058,be_after_push
7,8,True,1.1125,tokyo,3.0,1.1335,0.0210,2024-12-29 00:52:23.203377,2.215190,None,...,NaN,0.0175,1.1300,None,None,1.1046,None,True,0.0079,no_management
8,9,None,1.1495,tokyo,3.0,1.1727,0.0232,2024-12-29 00:52:23.203541,3.978022,loss,...,1.1319,0.0362,1.1857,None,None,1.1404,None,False,0.0091,close_early
9,10,None,1.1439,tokyo,5.0,1.1567,0.0128,2024-12-29 00:52:23.203697,1.348315,loss,...,1.1386,0.0120,1.1559,None,None,1.1350,None,True,0.0089,no_management
10,11,None,1.1460,tokyo,4.0,1.1801,0.0341,2024-12-29 00:52:23.203855,2.848837,None,...,NaN,0.0245,1.1705,None,None,1.1374,None,False,0.0086,no_management
11,12,None,1.1358,tokyo,4.0,1.1693,0.0335,2024-12-29 00:52:23.204072,4.170213,loss,...,1.1281,0.0392,1.1750,None,None,1.1264,True,False,0.0094,be_after_1r
12,13,None,1.1461,tokyo,1.0,1.1848,0.0387,2024-12-29 00:52:23.204297,1.515152,win,...,1.1657,0.0150,1.1611,None,None,1.1362,None,False,0.0099,close_early
13,14,None,1.1437,tokyo,4.0,1.1615,0.0178,2024-12-29 00:52:23.204479,2.731183,loss,...,1.1274,0.0254,1.1691,None,None,1.1344,None,True,0.0093,close_early

In [16]:
!rm -rf output
journal.to_markdown(output_dir='output')

2024-12-29 00:53:01 - root - INFO - Converting trades to markdown
2024-12-29 00:53:01 - root - INFO - Writing index markdown
2024-12-29 00:53:01 - root - INFO - Calculating simple statistics
2024-12-29 00:53:01 - root - INFO - Analyzing tag relevance
2024-12-29 00:53:01 - root - INFO - Finding best single tags and subsets
2024-12-29 00:53:01 - root - INFO - Finding best single tags
2024-12-29 00:53:02 - root - INFO - Finding best tag subsets
2024-12-29 00:53:02 - root - INFO - Finding best tag subsets
2024-12-29 00:53:03 - root - INFO - Calculating tags statistics
2024-12-29 00:53:03 - root - INFO - Plotting statistics