In [4]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [16]:
from src.tradecli import TradeJournal
from src.journal import journal

frozenset({'type_2_m5', 'type_1_m15', 'type_1_h4', 'type_2_h1', 'type_1_m30', 'type_1_m1', 'type_1_w', 'M', 'h1', 'w', 'h4', 'type_1_h1', 'm30', 'type_2_m15', 'm5', 'type_1_m5', 'type_1_d', 'd', 'type_2_w', 'type_1_M', 'type_2_h4', 'type_2_M', 'type_2_m30', 'type_2_d', 'm1', 'type_2_m1', 'm15'})
[Trade(uid='1', tags=[Tag(timestamp=None, key='type_1_m1', value=True), Tag(timestamp=None, key='type_3_m15', value=True), Tag(timestamp=None, key='entry_price', value=1.1), Tag(timestamp=None, key='sl_price', value=1.095), Tag(timestamp=None, key='tp_price', value=1.11), Tag(timestamp=None, key='risk_reward_ratio', value=1.9999999999999556)]), Trade(uid='2', tags=[Tag(timestamp=None, key='type_2_h1', value=True), Tag(timestamp=None, key='entry_price', value=1.2), Tag(timestamp=None, key='sl_price', value=1.195), Tag(timestamp=None, key='tp_price', value=1.21)]), Trade(uid='3', tags=[Tag(timestamp=None, key='SL_distance', value=0.5), Tag(timestamp=None, key='entry_price', value=1.3), Tag(timestamp=None, key='sl_price', value=1.295), Tag(timestamp=None, key='tp_price', value=1.31)]), Trade(uid='4', tags=[Tag(timestamp=None, key='SL_distance', value=0.5), Tag(timestamp=None, key='entry_price', value=1.3), Tag(timestamp=None, key='sl_price', value=1.295), Tag(timestamp=None, key='tp_price', value=1.31), Tag(timestamp=None, key='management_strategy', value='strategy_2'), Tag(timestamp=None, key='entry_price', value=1.3), Tag(timestamp=None, key='sl_price', value=1.295), Tag(timestamp=None, key='tp_price', value=1.31), Tag(timestamp=None, key='close_price', value=1.305)])]

In [24]:
# Generate the feature dataframe
df = journal.to_dataframe()
df

,trade_uid,SL_distance,management_strategy,close_price,type_3_m15,type_2_h1,type_1_m1,risk_reward_ratio,entry_price,tp_price,sl_price
0,1,NaN,None,NaN,True,None,True,2.0,1.1,1.11,1.095
1,2,NaN,None,NaN,None,True,None,NaN,1.2,1.21,1.195
2,3,0.5,None,NaN,None,None,None,NaN,1.3,1.31,1.295
3,4,0.5,strategy_2,1.305,None,None,None,NaN,1.3,1.31,1.295

In [21]:
# Example analysis: Compare trades with different SL distances
sl_trades = df[df['SL_distance'] > 0]
print(sl_trades)

  trade_uid  SL_distance management_strategy  close_price type_3_m15  \
2         3          0.5                None          NaN       None
3         4          0.5          strategy_2        1.305       None

  type_2_h1 type_1_m1  risk_reward_ratio  entry_price  tp_price  sl_price
2      None      None                NaN          1.3      1.31     1.295
3      None      None                NaN          1.3      1.31     1.295

In [22]:
df.describe()

,SL_distance,close_price,risk_reward_ratio,entry_price,tp_price,sl_price
count,2.0,1.000,1.0,4.000000,4.000000,4.000000
mean,0.5,1.305,2.0,1.225000,1.235000,1.220000
std,0.0,NaN,NaN,0.095743,0.095743,0.095743
min,0.5,1.305,2.0,1.100000,1.110000,1.095000
25%,0.5,1.305,2.0,1.175000,1.185000,1.170000
50%,0.5,1.305,2.0,1.250000,1.260000,1.245000
75%,0.5,1.305,2.0,1.300000,1.310000,1.295000
max,0.5,1.305,2.0,1.300000,1.310000,1.295000