In [120]:
%load_ext autoreload
%autoreload 2

frozenset({'type_1_m5', 'm5', 'type_2_d', 'type_1_w', 'M', 'type_2_m15', 'type_2_M', 'type_1_m15', 'h1', 'm15', 'type_2_h4', 'type_1_h1', 'd', 'm30', 'type_2_w', 'type_2_m5', 'type_1_d', 'h4', 'type_1_M', 'm1', 'type_2_m30', 'w', 'type_2_m1', 'type_1_h4', 'type_2_h1', 'type_1_m30', 'type_1_m1'})
[Trade(uid='1', tags=[Tag(timestamp=None, key='type_1_m1', value=True), Tag(timestamp=None, key='type_3_m15', value=True), Tag(timestamp=None, key='entry_price', value=1.1), Tag(timestamp=None, key='sl_price', value=1.095), Tag(timestamp=None, key='tp_price', value=1.11), Tag(timestamp=None, key='SL_distance', value=0.0050000000000001155), Tag(timestamp=None, key='TP_distance', value=0.010000000000000009), Tag(timestamp=None, key='side', value='long'), Tag(timestamp=None, key='entry_time', value=datetime.datetime(2024, 12, 28, 22, 16, 10, 115872)), Tag(timestamp=None, key='risk_reward_ratio', value=1.9999999999999556), Tag(timestamp=None, key='session', value='tokyo'), Tag(timestamp=None, key='risk_reward_ratio', value=1.9999999999999556), Tag(timestamp=None, key='initial_risk_reward', value=1.9999999999999556), Tag(timestamp=None, key='initial_return', value=0.010000000000000009), Tag(timestamp=None, key='management_strategy', value='no_management')]), Trade(uid='2', tags=[Tag(timestamp=None, key='type_2_h1', value=True), Tag(timestamp=None, key='entry_price', value=1.2), Tag(timestamp=None, key='sl_price', value=1.185), Tag(timestamp=None, key='tp_price', value=1.21), Tag(timestamp=None, key='close_price', value=1.1855), Tag(timestamp=None, key='SL_distance', value=0.014999999999999902), Tag(timestamp=None, key='TP_distance', value=0.010000000000000009), Tag(timestamp=None, key='return', value=-0.014499999999999957), Tag(timestamp=None, key='side', value='long'), Tag(timestamp=None, key='entry_time', value=datetime.datetime(2024, 12, 28, 22, 16, 10, 115893)), Tag(timestamp=None, key='risk_reward_ratio', value=0.6666666666666716), Tag(timestamp=None, key='htf_poi_ltf_confirmation', value=True), Tag(timestamp=None, key='session', value='tokyo'), Tag(timestamp=None, key='risk_reward_ratio', value=0.6666666666666716), Tag(timestamp=None, key='initial_risk_reward', value=0.6666666666666716), Tag(timestamp=None, key='initial_return', value=0.010000000000000009), Tag(timestamp=None, key='management_strategy', value='no_management')]), Trade(uid='3', tags=[Tag(timestamp=None, key='SL_distance', value=0.5), Tag(timestamp=None, key='entry_price', value=1.3), Tag(timestamp=None, key='sl_price', value=1.297), Tag(timestamp=None, key='tp_price', value=1.33), Tag(timestamp=None, key='SL_distance', value=0.0030000000000001137), Tag(timestamp=None, key='TP_distance', value=0.030000000000000027), Tag(timestamp=None, key='side', value='long'), Tag(timestamp=None, key='entry_time', value=Timestamp('2024-12-27 10:00:01')), Tag(timestamp=None, key='htf_poi_ltf_confirmation', value=False), Tag(timestamp=None, key='session', value='london'), Tag(timestamp=None, key='risk_reward_ratio', value=9.99999999999963), Tag(timestamp=None, key='initial_risk_reward', value=9.99999999999963), Tag(timestamp=None, key='initial_return', value=0.030000000000000027), Tag(timestamp=None, key='management_strategy', value='no_management')]), Trade(uid='4', tags=[Tag(timestamp=None, key='SL_distance', value=0.5), Tag(timestamp=None, key='entry_price', value=1.3), Tag(timestamp=None, key='sl_price', value=1.297), Tag(timestamp=None, key='tp_price', value=1.33), Tag(timestamp=None, key='SL_distance', value=0.0030000000000001137), Tag(timestamp=None, key='TP_distance', value=0.030000000000000027), Tag(timestamp=None, key='side', value='long'), Tag(timestamp=None, key='entry_time', value=Timestamp('2024-12-25 10:00:00')), Tag(timestamp=None, key='htf_poi_ltf_confirmation', value=False), Tag(timestamp=None, key='management_strategy', value='strategy_2'), Tag(timestamp=None, key='entry_price', value=1.3), Tag(timestamp=None, key='sl_price', value=1.295), Tag(timestamp=None, key='tp_price', value=1.91), Tag(timestamp=None, key='close_price', value=1.305), Tag(timestamp=None, key='SL_distance', value=0.0050000000000001155), Tag(timestamp=None, key='TP_distance', value=0.6099999999999999), Tag(timestamp=None, key='return', value=0.004999999999999893), Tag(timestamp=None, key='side', value='long'), Tag(timestamp=None, key='risk_reward_ratio', value=9.99999999999963), Tag(timestamp=None, key='potential_risk_reward', value=4.999999999999778), Tag(timestamp=None, key='potential_return', value=0.014999999999999902), Tag(timestamp=None, key='potential_price', value=1.315), Tag(timestamp=None, key='confidence', value=4), Tag(timestamp=None, key='htf_poi_ltf_confirmation', value=True), Tag(timestamp=None, key='session', value='london'), Tag(timestamp=None, key='risk_reward_ratio', value=9.99999999999963), Tag(timestamp=None, key='initial_risk_reward', value=9.99999999999963), Tag(timestamp=None, key='initial_return', value=0.030000000000000027)])]
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [134]:
from src.tradecli import TradeJournal
from src.journal import *

In [136]:
df = journal.to_dataframe()

# Generate the feature dataframe
pd.set_option('display.max_colwidth', None)  # Display full string without truncation
#pd.set_option('display.max_colwidth', 100)  # Display up to 100 characters per column
pd.set_option('display.precision', 2)
pd.set_option('display.max_columns', None)
df.style.highlight_max(color='yellow')
df.style.highlight_min(color='lightblue')
df.style.background_gradient(cmap='Blues')

df

,trade_uid,TP_distance,confidence,htf_poi_ltf_confirmation,SL_distance,management_strategy,sl_price,close_price,risk_reward_ratio,outcome,side,potential_price,tp_price,return,session,initial_risk_reward,entry_price,potential_risk_reward,type_3_m15,type_2_h1,initial_return,entry_time,potential_return,type_1_m1
0,1,0.01,NaN,None,5.00e-03,no_management,1.09,NaN,2.00,None,long,NaN,1.11,NaN,tokyo,2.00,1.1,NaN,True,None,0.01,2024-12-28 22:26:07.817706,NaN,True
1,2,0.01,NaN,True,1.50e-02,no_management,1.19,1.19,0.67,loss,long,NaN,1.21,-1.45e-02,tokyo,0.67,1.2,NaN,None,True,0.01,2024-12-28 22:26:07.817745,NaN,None
2,3,0.03,NaN,False,5.00e-01,no_management,1.30,NaN,10.00,None,long,NaN,1.33,NaN,london,10.00,1.3,NaN,None,None,0.03,2024-12-27 10:00:01.000000,NaN,None
3,4,0.03,4.0,False,5.00e-01,strategy_2,1.30,1.30,10.00,win,long,1.31,1.33,5.00e-03,london,10.00,1.3,5.0,None,None,0.03,2024-12-25 10:00:00.000000,0.01,None

In [119]:
full_df

,trade_uid,close_price,TP_distance,tp_price,risk_reward_ratio,return,potential_price,type_3_m15,session,type_2_h1,entry_price,SL_distance,management_strategy,sl_price,entry_time,potential_return,potential_risk_reward,side,type_1_m1,outcome
0,1,NaN,0.01,1.11,2.000000,NaN,NaN,True,tokyo,None,1.1,0.005,None,1.095,2024-12-28 21:56:30.457742,NaN,NaN,long,True,breakeven
1,2,NaN,0.01,1.21,0.666667,NaN,NaN,None,tokyo,True,1.2,0.015,None,1.185,2024-12-28 21:56:30.457789,NaN,NaN,long,None,breakeven
2,3,NaN,0.03,1.33,10.000000,NaN,NaN,None,london,None,1.3,0.500,None,1.297,2024-12-27 10:00:01.000000,NaN,NaN,long,None,breakeven
3,4,1.305,0.03,1.33,10.000000,0.005,1.315,None,london,None,1.3,0.500,strategy_2,1.297,2024-12-25 10:00:00.000000,0.015,5.0,long,None,win

In [111]:
# Example analysis: Compare trades with different SL distances
sl_trades = df[df['SL_distance'] > 0]
print(sl_trades)

  trade_uid  close_price  TP_distance  tp_price  risk_reward_ratio  return  \
0         1          NaN         0.01      1.11           2.000000     NaN
1         2          NaN         0.01      1.21           0.666667     NaN
2         3          NaN         0.03      1.33          10.000000     NaN
3         4        1.305         0.03      1.33          10.000000   0.005

   potential_price type_3_m15 session type_2_h1  entry_price  SL_distance  \
0              NaN       True   tokyo      None          1.1        0.005
1              NaN       None   tokyo      True          1.2        0.015
2              NaN       None  london      None          1.3        0.500
3            1.315       None  london      None          1.3        0.500

  management_strategy  sl_price                 entry_time  potential_return  \
0                None     1.095 2024-12-28 21:54:41.367385               NaN
1                None     1.185 2024-12-28 21:54:41.367414               NaN
2                None     1.297 2024-12-27 10:00:01.000000               NaN
3          strategy_2     1.297 2024-12-25 10:00:00.000000             0.015

   potential_risk_reward  side type_1_m1
0                    NaN  long      True
1                    NaN  long      None
2                    NaN  long      None
3                    5.0  long      None

In [103]:
journal.to_markdown(output_dir='output')