In [5]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
from src.tradecli import *
from src.journal import *

In [7]:
# Generate the feature dataframe
full_df

,trade_uid,confidence,entry_price,initial_risk_reward,type_3_m15,potential_return,management_strategy,potential_price,session,SL_distance,...,sl_price,side,type_2_h1,return,outcome,initial_return,type_1_m1,tp_price,htf_poi_ltf_confirmation,close_price
0,1,NaN,1.1,2.000000,True,NaN,no_management,NaN,tokyo,0.005,...,1.095,long,None,NaN,None,0.01,True,1.11,None,NaN
1,2,NaN,1.2,0.666667,None,NaN,no_management,NaN,tokyo,0.015,...,1.185,long,True,-0.0145,loss,0.01,None,1.21,True,1.1855
2,3,NaN,1.3,10.000000,None,NaN,no_management,NaN,london,0.500,...,1.297,long,None,NaN,None,0.03,None,1.33,False,NaN
3,4,4.0,1.3,10.000000,None,0.015,strategy_2,1.315,london,0.500,...,1.297,long,None,0.0050,win,0.03,None,1.33,False,1.3050

In [9]:
journal.to_markdown(output_dir='output')