In [19]:
%load_ext autoreload
%autoreload 2
import logging
logging.basicConfig(level=logging.INFO)

INFO:root:Creating initial trades
INFO:root:Adding trade with UID: 1
INFO:root:Adding trade with UID: 2
INFO:root:Adding trade with UID: 3
INFO:root:Adding trade with UID: 4
INFO:root:Adding more trades to the journal
INFO:root:Adding trade with UID: 5
INFO:root:Adding trade with UID: 6
INFO:root:Adding trade with UID: 7
INFO:root:Adding trade with UID: 8
INFO:root:Adding trade with UID: 9
INFO:root:Adding trade with UID: 10
INFO:root:Adding trade with UID: 11
INFO:root:Adding trade with UID: 12
INFO:root:Adding trade with UID: 13
INFO:root:Adding trade with UID: 14
INFO:root:Adding default tags to all trades
INFO:root:Converting journal trades to DataFrame

frozenset({'h1', 'm15', 'type_2_m30', 'type_2_m5', 'type_1_w', 'd', 'M', 'h4', 'type_2_m15', 'm30', 'm5', 'type_2_h1', 'type_1_h1', 'type_1_m1', 'm1', 'type_2_d', 'type_2_M', 'type_1_m15', 'type_1_h4', 'w', 'type_1_M', 'type_2_w', 'type_1_d', 'type_2_m1', 'type_1_m30', 'type_1_m5', 'type_2_h4'})
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [20]:
from src.tradecli import *
from src.journal import *

In [21]:
# Generate the feature dataframe
full_df

,trade_uid,potential_return,type_3_h4,return,entry_time,type_2_m30,side,type_3_d,type_2_m5,type_1_w,...,type_1_m30,type_1_m5,type_3_m1,confidence_2,type_2_h4,type_3_w,has_type_1,has_type_2,has_type_3,has_time_frame
0,1,NaN,False,NaN,2024-12-29 02:36:20.480442,False,long,False,False,False,...,False,False,False,False,False,False,True,False,True,False
1,2,NaN,False,-0.0145,2024-12-29 02:36:20.480725,False,long,False,False,False,...,False,False,False,True,False,False,False,True,False,False
2,3,NaN,False,NaN,2024-12-27 10:00:01.000000,False,long,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,4,0.0150,False,0.0050,2024-12-25 10:00:00.000000,False,long,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,5,0.0299,False,0.0117,2024-12-29 02:36:20.482873,False,long,False,False,False,...,False,False,False,False,False,False,True,True,False,False
5,6,0.0123,False,0.0180,2024-12-29 02:36:20.483140,False,long,False,False,False,...,False,False,False,True,False,False,True,True,False,False
6,7,0.0491,False,NaN,2024-12-29 02:36:20.483439,False,long,False,False,False,...,False,True,False,False,False,False,True,True,False,False
7,8,0.0210,False,NaN,2024-12-29 02:36:20.483682,False,long,False,False,False,...,False,False,False,False,False,False,True,True,False,False
8,9,0.0232,False,-0.0176,2024-12-29 02:36:20.483948,False,long,False,True,False,...,False,False,False,False,False,False,True,True,False,False
9,10,0.0128,False,-0.0053,2024-12-29 02:36:20.484252,False,long,False,False,False,...,False,False,False,False,False,False,True,True,False,False
10,11,0.0341,False,NaN,2024-12-29 02:36:20.484476,False,long,False,False,False,...,False,False,False,False,False,False,True,True,False,False
11,12,0.0335,False,-0.0077,2024-12-29 02:36:20.484764,False,long,False,False,False,...,False,False,False,False,False,False,True,True,False,False
12,13,0.0387,False,0.0196,2024-12-29 02:36:20.484997,False,long,False,True,False,...,False,False,False,False,False,False,True,True,False,False
13,14,0.0178,False,-0.0163,2024-12-29 02:36:20.485229,False,long,False,False,False,...,False,False,False,False,False,False,True,True,False,False

In [22]:
full_df.dtypes

trade_uid                           object
potential_return                   float64
type_3_h4                             bool
return                             float64
entry_time                  datetime64[ns]
type_2_m30                            bool
side                                object
type_3_d                              bool
type_2_m5                             bool
type_1_w                              bool
initial_risk_reward                float64
confidence_3                          bool
type_3_m30                            bool
type_2_m15                            bool
sl_price                           float64
confidence_1                          bool
type_3_m5                             bool
initial_return                     float64
session                             object
type_2_h1                             bool
type_1_h1                             bool
htf_poi_ltf_confirmation              bool
numerical_confidence               float64
type_1_m1                             bool
type_3_m15                            bool
risk_reward_ratio                  float64
type_3_M                              bool
confidence_5                          bool
tp_price                           float64
management_strategy                 object
type_2_d                              bool
SL_distance                        float64
type_1_m15                            bool
type_2_M                              bool
TP_distance                        float64
type_1_h4                             bool
potential_risk_reward              float64
close_price                        float64
type_1_M                              bool
type_2_w                              bool
potential_price                    float64
type_3_h1                             bool
type_1_d                              bool
entry_price                        float64
confidence_4                          bool
outcome                             object
type_2_m1                             bool
type_1_m30                            bool
type_1_m5                             bool
type_3_m1                             bool
confidence_2                          bool
type_2_h4                             bool
type_3_w                              bool
has_type_1                            bool
has_type_2                            bool
has_type_3                            bool
has_time_frame                        bool
dtype: object

In [23]:
!rm -rf output

In [24]:
j.to_markdown(output_dir='output')

INFO:root:Converting trades to markdown
INFO:root:Writing index markdown
INFO:root:Calculating simple statistics
INFO:root:Analyzing tag relevance
INFO:root:Finding best single tags and subsets
INFO:root:Finding best single tags
INFO:root:Finding best tag subsets
INFO:root:Finding best tag subsets
INFO:root:Calculating tags statistics
INFO:root:Plotting statistics