In [36]:
%load_ext autoreload
%autoreload 2

frozenset({'type_1_m5', 'type_1_h1', 'd', 'h1', 'type_2_m1', 'type_2_d', 'type_1_m30', 'type_1_d', 'type_1_m1', 'type_2_m5', 'type_1_M', 'h4', 'type_1_h4', 'type_2_h1', 'm5', 'm15', 'type_2_M', 'w', 'type_2_w', 'type_2_m15', 'type_2_m30', 'm30', 'M', 'type_2_h4', 'type_1_w', 'm1', 'type_1_m15'})
[Trade(uid='1', tags=[Tag(timestamp=None, key='type_1_m1', value=True), Tag(timestamp=None, key='type_3_m15', value=True), Tag(timestamp=None, key='entry_price', value=1.1), Tag(timestamp=None, key='sl_price', value=1.095), Tag(timestamp=None, key='tp_price', value=1.11), Tag(timestamp=None, key='SL_distance', value=0.0050000000000001155), Tag(timestamp=None, key='TP_distance', value=0.010000000000000009), Tag(timestamp=None, key='side', value='long'), Tag(timestamp=None, key='entry_time', value=datetime.datetime(2024, 12, 28, 23, 39, 47, 322812)), Tag(timestamp=None, key='risk_reward_ratio', value=1.9999999999999556), Tag(timestamp=None, key='session', value='tokyo'), Tag(timestamp=None, key='risk_reward_ratio', value=1.9999999999999556), Tag(timestamp=None, key='initial_risk_reward', value=1.9999999999999556), Tag(timestamp=None, key='initial_return', value=0.010000000000000009), Tag(timestamp=None, key='management_strategy', value='no_management')]), Trade(uid='2', tags=[Tag(timestamp=None, key='type_2_h1', value=True), Tag(timestamp=None, key='entry_price', value=1.2), Tag(timestamp=None, key='sl_price', value=1.185), Tag(timestamp=None, key='tp_price', value=1.21), Tag(timestamp=None, key='close_price', value=1.1855), Tag(timestamp=None, key='SL_distance', value=0.014999999999999902), Tag(timestamp=None, key='TP_distance', value=0.010000000000000009), Tag(timestamp=None, key='return', value=-0.014499999999999957), Tag(timestamp=None, key='side', value='long'), Tag(timestamp=None, key='entry_time', value=datetime.datetime(2024, 12, 28, 23, 39, 47, 322846)), Tag(timestamp=None, key='risk_reward_ratio', value=0.6666666666666716), Tag(timestamp=None, key='htf_poi_ltf_confirmation', value=True), Tag(timestamp=None, key='session', value='tokyo'), Tag(timestamp=None, key='risk_reward_ratio', value=0.6666666666666716), Tag(timestamp=None, key='outcome', value='loss'), Tag(timestamp=None, key='initial_risk_reward', value=0.6666666666666716), Tag(timestamp=None, key='initial_return', value=0.010000000000000009), Tag(timestamp=None, key='management_strategy', value='no_management')]), Trade(uid='3', tags=[Tag(timestamp=None, key='SL_distance', value=0.5), Tag(timestamp=None, key='entry_price', value=1.3), Tag(timestamp=None, key='sl_price', value=1.297), Tag(timestamp=None, key='tp_price', value=1.33), Tag(timestamp=None, key='SL_distance', value=0.0030000000000001137), Tag(timestamp=None, key='TP_distance', value=0.030000000000000027), Tag(timestamp=None, key='side', value='long'), Tag(timestamp=None, key='entry_time', value=Timestamp('2024-12-27 10:00:01')), Tag(timestamp=None, key='htf_poi_ltf_confirmation', value=False), Tag(timestamp=None, key='session', value='london'), Tag(timestamp=None, key='risk_reward_ratio', value=9.99999999999963), Tag(timestamp=None, key='initial_risk_reward', value=9.99999999999963), Tag(timestamp=None, key='initial_return', value=0.030000000000000027), Tag(timestamp=None, key='management_strategy', value='no_management')]), Trade(uid='4', tags=[Tag(timestamp=None, key='SL_distance', value=0.5), Tag(timestamp=None, key='entry_price', value=1.3), Tag(timestamp=None, key='sl_price', value=1.297), Tag(timestamp=None, key='tp_price', value=1.33), Tag(timestamp=None, key='SL_distance', value=0.0030000000000001137), Tag(timestamp=None, key='TP_distance', value=0.030000000000000027), Tag(timestamp=None, key='side', value='long'), Tag(timestamp=None, key='entry_time', value=Timestamp('2024-12-25 10:00:00')), Tag(timestamp=None, key='htf_poi_ltf_confirmation', value=False), Tag(timestamp=None, key='management_strategy', value='strategy_2'), Tag(timestamp=None, key='entry_price', value=1.3), Tag(timestamp=None, key='sl_price', value=1.295), Tag(timestamp=None, key='tp_price', value=1.91), Tag(timestamp=None, key='close_price', value=1.305), Tag(timestamp=None, key='SL_distance', value=0.0050000000000001155), Tag(timestamp=None, key='TP_distance', value=0.6099999999999999), Tag(timestamp=None, key='return', value=0.004999999999999893), Tag(timestamp=None, key='side', value='long'), Tag(timestamp=None, key='risk_reward_ratio', value=9.99999999999963), Tag(timestamp=None, key='potential_risk_reward', value=4.999999999999778), Tag(timestamp=None, key='potential_return', value=0.014999999999999902), Tag(timestamp=None, key='potential_price', value=1.315), Tag(timestamp=None, key='confidence', value=4), Tag(timestamp=None, key='htf_poi_ltf_confirmation', value=True), Tag(timestamp=None, key='session', value='london'), Tag(timestamp=None, key='risk_reward_ratio', value=9.99999999999963), Tag(timestamp=None, key='outcome', value='win'), Tag(timestamp=None, key='initial_risk_reward', value=9.99999999999963), Tag(timestamp=None, key='initial_return', value=0.030000000000000027)])]
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [37]:
from src.tradecli import *
from src.journal import *

In [38]:
# Generate the feature dataframe
df

,trade_uid,entry_price,management_strategy,confidence,SL_distance,type_1_m1,potential_return,initial_risk_reward,return,potential_price,type_2_h1,session,close_price,tp_price,entry_time,initial_return,TP_distance,potential_risk_reward,sl_price,outcome,type_3_m15,side,htf_poi_ltf_confirmation,risk_reward_ratio
0,1,1.1,no_management,NaN,5.00e-03,True,NaN,2.00,NaN,NaN,None,tokyo,NaN,1.11,2024-12-28 23:17:24.904886,0.01,0.01,NaN,1.09,None,True,long,None,2.00
1,2,1.2,no_management,NaN,1.50e-02,None,NaN,0.67,-1.45e-02,NaN,True,tokyo,1.19,1.21,2024-12-28 23:17:24.904909,0.01,0.01,NaN,1.19,loss,None,long,True,0.67
2,3,1.3,no_management,NaN,5.00e-01,None,NaN,10.00,NaN,NaN,None,london,NaN,1.33,2024-12-27 10:00:01.000000,0.03,0.03,NaN,1.30,None,None,long,False,10.00
3,4,1.3,strategy_2,4.0,5.00e-01,None,0.01,10.00,5.00e-03,1.31,None,london,1.30,1.33,2024-12-25 10:00:00.000000,0.03,0.03,5.0,1.30,win,None,long,False,10.00